.logofont {
    font-family: $color-primary;
    font-weight: 900;
    font-size: 6.5rem;
    font-style: italic;
    text-transform: uppercase;
    color: var(--color-logo-text);
    background: -webkit-linear-gradient(#172b4d, #b1005a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

body {
    font-family: 'Noto Sans';
}

%heading {
    font-family: 'Noto Sans';
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 4.5rem;
    color: var(--color-logo-text);
    line-height: 1;
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;

    &--light { color: $color-grey-light-1; }
    &--dark { color: $color-grey-dark-1; }
}

.heading-3 {
    @extend %heading;
    font-size: 1.6rem;
    color: var(--color-logo-text);
    text-transform: uppercase;
}

.heading-4 {
    @extend %heading;
    font-size: 1.9rem;
    
    &--light { color: $color-grey-light-1; }
    &--dark { color: $color-text-dark-1; }
}

.heading-4-icons {
    @extend %heading;
    font-size: 1.9rem;
    font-family: $font-display;
    &--light { color: $color-grey-light-1; }
    &--dark { color: $color-text-dark-1; }
}

.btn {
    font-family: 'Noto Sans';
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: var(--color-accent);
    }
}

.header__btn {
    background-color: #b1005a;
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: 'Noto Sans';
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: var(--secondary-color-dark);
    }
}

.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-hg { margin-bottom: 8rem; }