
 <footer class="footer">
	<ul class="nav">
			<li class="nav__item"><a href="#" class="nav__link">Vision</a></li>
			<li class="nav__item"><a href="#" class="nav__link">Documentation</a></li>
			<li class="nav__item"><a href="#" class="nav__link">SSIM</a></li>
			<li class="nav__item"><a href="#" class="nav__link">Technology</a></li>
			<li class="nav__item"><a href="#" class="nav__link">Governance</a></li>
			<li class="nav__item"><a href="#" class="nav__link">Contact us</a></li>
	</ul>
	<p class="copyright">
		&copy; Copyright 2019 Pacio . Castries-Saint Lucia.
	</p>
</footer>